.vbox {
	-fx-padding: 5px;
	-fx-spacing: 5px;
}

.hbox {
	-fx-padding: 5px;
	-fx-spacing: 5px;
}

.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
}

.button {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
}